body {
    font-size: 1.2rem;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

#time {
    font-weight: bold;
}
